header {
  padding: 20px 0;
  margin: 0;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  width: 100%;
  font-size: 0;
  background: #fff;
  @include box-shadow(1px 0px 2px rgba(0,0,0,.15));
  z-index:99;

  h1 {
    line-height: 40px;
    margin: 0;
  }

}